.PermissionsPage {
  width: 100vw;
  /* display: flex;
    display: block; */
  margin-bottom: 20px;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
}

.ResetpermissionButton {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.AddNewUserButton {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 30%;
  margin: auto;
  height: auto;
  min-height: 20vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #ffffff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  /* overflow: auto; */
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(35% - 27px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.permissionPage-row {
  padding: 10px;
  border: 1px solid rgba(38, 39, 39, 0.342);
  font-size: 17px;
  color: rgb(19, 15, 15);
  font-weight: 300;
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial",
    sans-serif;
  vertical-align: middle;
}

.edit-Btn button {
  border: none;
  outline: none;
  background-color: transparent;
}

.userNameHeading {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-left: 10%;
}

.editUserFormField {
  width: 80%;
  margin: auto;
  margin-bottom: 15px;
}
.editUserFormField input {
  width: 100%;
  height: 50px;
  padding: 7px;
}
.editUserFormField select {
  height: 40px;
  width: 100%;
  margin: 0 auto;
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial",
    sans-serif;
  font-size: 18px;
}

.editUserFormField input::placeholder {
  font-size: 20px;
}
.editUserFormField input:focus {
  outline: #0f86e7;
  border-color: #0f86e7;
}

.addNewUser {
  /* margin-top: 7px; */
  font-size: 15px;
  text-align: end;
  margin-bottom: 10px;

}
.addNewUser button {
  border: none;
  background-color: transparent;
  color: #0a5ed7;
  border-bottom: 1px solid #0a5ed7;
}

.headings {
  color: gray;
}

.Permissions-body {
  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
}

.contentBox {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
}
