.dashcard {
  /* overflow-y: scroll; */
  padding: 15px;
  margin-left: 0 !important;
  border-radius: 20px;
  border: none !important;
  box-shadow:  3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
  background-image: linear-gradient(
  to bottom right,
  #eff0f3,
  #e5e6eb
);
width: calc(90vw);
}