.dashcard {
    /* overflow-y: scroll; */
    padding: 15px;
    border-radius: 15px;
    border: none !important;
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
    background-image: linear-gradient(to bottom right, #eff0f3, #e5e6eb);
    width: calc(90vw);
    margin: auto;
}

.table-section {
    padding: 20px !important;
    height: calc(80vh);
    width: calc(88vw);
    /* display: block;
    overflow: scroll; */
}

/* table {
    margin: auto;
    caption-side: bottom;
    border: 1px solid black;
} */



th {
    position: sticky;
    top: 0;
    font-size: 17px;
    font-weight: 600;
    color: #3B5AA4;
    text-align: center;
    background-color: #EBECF0;
    border: 1px solid #b2b4b6;
    width: 140px;
}

td {
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    border: 1px solid #b2b4b6;
}

tbody{
    /* display: block; */
    height: calc(80vh);
    overflow-y: scroll !important;
}

/* tr{
    display: block;
    float: left;
} */

.DashboardContainer {
    display: grid;
    margin: 10px 20px 20px 10px;
}

.Search {
    background-color: white;
}