.App {
  display: flex;
  justify-content: center;
}

html, body{
    background: transparent -moz-linear-gradient(174deg, rgba(13, 53, 148, .898039) 0, #35d3e1 100%) 0 0 no-repeat padding-box;
    background: transparent linear-gradient( 276deg, rgba(13, 53, 148, .898039), #35d3e1) 0 0 no-repeat padding-box;
    color: #fff;
    height: 100vh;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}
input[type="text"]::placeholder {  
  padding-left: 10px; 
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  height: 60px;
  border-radius: 20px;
  border: 1px dotted;
}

.my-row {
  margin-bottom: 20px;
}

.error {
  color: red;
}



.error{
  color:red;
}

.my-container{
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-top: 20vh;
}


.middle
{
  margin-top: 40px;
  text-align: center;
}

.my-btn{
  height: 60px;
  margin-bottom: 20px;
  border-radius: 20px;
}